

<div class="col-md-offset-5">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Previous" (click)="initCalendarForPreviousMonth()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a> {{currentMonthName}} , {{currentYear}} </a></li>

            <li>
                <a  aria-label="Next" (click)="initCalendarForNextMonth()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of calendarMonth.weeks">
            <td>
                <div class="well">
                    {{week.monday?.day}}
                    <div *ngIf="week.monday?.totalAppintments > 0">
                       <a class="label label-primary">{{week.monday.totalAppintments}} entries</a>
                    </div>
                </div>
            </td>

            <td>
                <div class="well">
                    {{week.tuesday?.day}}
                      <div *ngIf="week.tuesday?.totalAppintments > 0">
                        <a href="#"><span class="badge">week.tuesday.totalAppintments</span></a>>
                    </div>
                </div>
            </td>

            <td>
                <div class="well">
                    {{week.wednesday?.day}}
                      <div *ngIf="week.wednesday?.totalAppintments > 0">
                        <a href="#"><span class="badge">week.wednesday.totalAppintments</span></a>>
                    </div>
                </div>
            </td>

            <td>
                <div class="well">
                    {{week.thursday?.day}}
                     <div *ngIf="week.thursday?.totalAppintments > 0">
                        <a href="#"><span class="badge">week.thursday.totalAppintments</span></a>>
                    </div>
                </div>
            </td>
            <td>
                <div class="well">
                    {{week.friday?.day}}
                     <div *ngIf="week.friday?.totalAppintments > 0">
                        <a href="#"><span class="badge">week.friday.totalAppintments</span></a>>
                    </div>
                </div>
            </td>
            <td>
                <div class="well">
                    {{week.saturday?.day}}
                     <div *ngIf="week.saturday?.totalAppintments > 0">
                        <a href="#"><span class="badge">week.saturday.totalAppintments</span></a>>
                    </div>
                </div>
            </td>
            <td>
                <div class="well">
                    {{week.sunday?.day}}
                     <div *ngIf="week.sunday?.totalAppintments > 0">
                        <a href="#"><span class="badge">week.sunday.totalAppintments</span></a>>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>


