<div>
    <alert [show]='alerts'></alert>
</div>

<div class="container">
    <div class="well infobox col-md-6">
        <form [formGroup]="loginForm">
            <legend>Login</legend>
            <div class="form-group label-floating" [ngClass]="{'has-error': !loginForm.controls.username.valid}">
                <label class="control-label" for="username">Email address</label>
                <input class="form-control" id="username" type="email" formControlName="username">
                <div [hidden]="!(loginForm.controls.username.hasError('pattern') && loginForm.controls.username.dirty)">
                    <p class="alert alert-danger">Invalid Email address </p>
                </div>
            </div>

            <div class="form-group label-floating" [ngClass]="{'has-error': !loginForm.controls.password.valid}">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" id="password" type="password" formControlName="password">
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-raised btn-success col-md-offset-7" (click)="loginUser(loginForm.value, loginForm.valid)"
                        [disabled]="!loginForm.valid">Login
                        </button>
                </div>
            </div>
            <!---->
        </form>
    </div>
</div>