<div>
    <alert [show]='alerts'></alert>
</div>

<div class="container">
    <div class="well infobox col-md-6">
        <form [formGroup]="appointmentForm">
            <legend>New Appointment</legend>

            <div class="row form-group" [ngClass]="{'has-error': !appointmentForm.controls.startDate.valid || !appointmentForm.controls.startTime.valid}">
                <div class="form-group label-floating col-md-6">
                    <label class="control-label">Starts On</label>
                    <datetime formControlName="startDate" [timepicker]="false" [datepicker]="{placeholder:' ', autoclose: true,todayBtn: 'linked',todayHighlight: true,assumeNearbyYear: true,format: 'D, d MM yyyy'}"></datetime>
                </div>
                <div class="form-group label-floating col-md-5">
                    <label class="control-label">at</label>
                    <datetime formControlName="startTime" [datepicker]="false" [timepicker]="{ placeholder:' '}"></datetime>
                </div>
            </div>

            <div class="row form-group" [ngClass]="{'has-error': !appointmentForm.controls.endDate.valid || !appointmentForm.controls.endTime.valid}">
                <div class="col-md-6">
                    <label class="control-label">End on </label>
                    <datetime formControlName="endDate" [timepicker]="false" [datepicker]="{placeholder:' ', autoclose: true,todayBtn: 'linked',todayHighlight: true,assumeNearbyYear: true,format: 'D, d MM yyyy'}"></datetime>
                </div>
                <div class="col-md-5">
                    <label class="control-label">at</label>
                    <datetime formControlName="endTime" [datepicker]="false" [timepicker]="{ placeholder:' '}"></datetime>
                </div>
            </div>
            
            <div class="form-group label-floating">
                <label class="control-label" for="description"> Description</label>
                 <textarea rows="4" class="form-control" id="description" type="text" formControlName="description"> </textarea>               
                
            </div>
              <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-raised btn-success" (click)="createAppointment(appointmentForm.value, appointmentForm.valid)"
                    [disabled]="!appointmentForm.valid">Create</button>
                </div>
            </div>
           
        </form>
    </div>
</div>