
<div>
    <toast [type]='toast.type' [message]='toast.message' [caption]='toast.caption' [show]='toast.show'></toast>
</div>
<!--<form [formGroup]="appointmentForm">
    <input formControlName="start" type="date" class="form-control">
    <input formControlName="start" type="time" class="form-control">
    <button type="submit" class="btn btn-primary col-md-offset-10" (click)="createAppointment(appointmentForm.value, appointmentForm.valid)">Create</button>
</form>-->
<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">New Appointment</div>
            <div class="panel-body">
                <form [formGroup]="appointmentForm">
                    <div class="row form-group" [ngClass]="{'has-error': !appointmentForm.controls.startDate.valid || !appointmentForm.controls.startTime.valid}">
                        <div class="col-md-3">
                            <label>Start on </label>
                            <datetime formControlName="startDate" [timepicker]="false"></datetime>
                        </div>
                        <div class="col-md-3">
                            <label>at </label>
                            <datetime formControlName="startTime" [datepicker]="false"></datetime>
                        </div>
                    </div>
                    <div class="row form-group" [ngClass]="{'has-error': !appointmentForm.controls.endDate.valid || !appointmentForm.controls.endTime.valid}">
                        <div class="col-md-3">
                            <label>End on </label>
                            <datetime formControlName="endDate" [timepicker]="false"></datetime>
                        </div>
                        <div class="col-md-3">
                            <label>at </label>
                            <datetime formControlName="endTime" [datepicker]="false"></datetime>
                        </div>

                    </div>
                    <div class="form-group" [ngClass]="{'has-error': !appointmentForm.controls.description.valid}">
                        <label>Description</label>
                        <textarea rows="4" formControlName="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-md-offset-10" (click)="createAppointment(appointmentForm.value, appointmentForm.valid)" [disabled]="!appointmentForm.valid">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
