html, body {
    height: 100%;    
}

.calendar-date-box{    
    min-height: 60px;
    max-height: 90px;     
    padding: 5px;   
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.calendar-dates-text{  
    font-weight: bold;
    font-size:large;    
}

.scroll{
    overflow-y: scroll; 
    height:250px;
}

.div-md{
    height: 150px;
}

.div-lg{
    height: 200px;
}
